h1{
    text-align: center;
    border-bottom: 10px dashed blue;
}

img{
    width:800px;
    height:500px;
}

body{
    text-align: center;
    font-size: large;
}

.image{
    width:200px;
    height:100px;
}

nav img {
    marjin-right: 100px;
}

